.container {
  background-color: var(--primary);
  /* margin: 2.5rem; */
  padding: 0.5rem;
}

/**************************** Tablets (426-765px)  ****************************/

@media screen and (min-width: 426px) {
  .container {
    margin: 2.5rem;
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
