.myWork a {
  position: relative;
  padding: 1rem;
}

.myWork img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: top;
}

.img-text {
  /* position the box */
  position: absolute;
  top: 5rem;
  left: 0;

  /* make the box look good */
  color: var(--primary);
  background-color: var(--highlight);
  padding: 1rem;
  padding-left: 5rem;
}

.project-name {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.technologies {
  font-style: italic;
}

/**************************** Tablets (426-765px)  ****************************/

@media screen and (min-width: 426px) {
  .imgContainer {
    flex: 50%;
  }
}
