footer {
  /* position: sticky; */
  bottom: 0;
  width: 100%;
}

.footerContainer {
  background-color: var(--primary);
  /* color: var(--primary); */
  display: flex;
  justify-content: space-around;
}
